:root {
    --gap-row: 3;
    --gap-col: 3;
}

#grid{
    display: grid;
    grid-template-rows: 11rem 11rem 11rem;
    grid-template-columns: 11rem 11rem 11rem;
    background-color: hsl(4deg 0 12);
    width: 35vw;
    text-align: center;
}

.box {
    height: 10rem;
    width: 10rem;
    background-color: dimgray;
    margin: 1rem;
    font-size: 18pt;
    font-weight: 800;
    opacity: 100%;
}

.gap {
    opacity: 0;
    grid-row: var(--gap-row);
    grid-column: var(--gap-col);
}